<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Software Laboratorio Clinico</title>

  


  <%- include ('../parts/script_superior.ejs')%>

 <!-- DataTables -->
 <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
 <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
 <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
 <!-- Theme style -->
 <link rel="stylesheet" href="/dist/css/adminlte.min.css">



</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <%- include ('../parts/navbar.ejs')%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
 
  <%- include ('../parts/menu.ejs')%>



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">


        <div class="row mb-2">
          <div class="col-sm-2">
            <input type="date" id='fecha_inicio' class="form-control">
          
          </div><!-- /.col -->
          <div class="col-sm-2">
        
            <input type="date" id='fecha_fin' class="form-control">
          </div><!-- /.col -->
          <div class="col-sm-4">
            <select class="form-control" id="contratos" onchange="listarCuentasPendientePago();listarCuentasCobradas();"></select>
          </div><!-- /.col -->
          
          <div class="col-sm-4">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Cuentas</li>
              <li class="breadcrumb-item active">Cuentas de Cobro</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
   
    <div class="container-fluid">



      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Cuentas Por Cobrar</button>
          <button class="nav-link" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Cuentas Cobradas</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row m-3">
          <div class="col-12">
            <div class="d-flex justify-content-between">

              <button type="button" id="btnCuentaCobro" class="btn btn-danger" onclick="registrarCuentaCobro();">
                Registrar Reporte de Cobro
              </button>
              <button id="btnToggleSeleccion" class="btn btn-primary">Seleccionar Todos</button>
              
          </div>
          
          </div><!-- /.col -->
        </div>
          
          
          <div class="row">
            <div class="col-12">
              <table class="table table-striped" id="tabla_cuenta_pendiente" style="font-size: 12px;">
                <thead>
                    <tr class="line-head">
                        <th>ID</th>
                        <th>Identificaci贸n</th>
                        <th>Nombre</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Edad</th>
                        <th>Telefono</th>
                        <th>Examen</th>
                        <th>Fecha</th>
                        <th>Contrato</th>
                        <th>Precio</th>
                        <th>Autorizaci贸n</th>
                        <th>Estado</th>
                        <th>Admin.</th>
                    </tr>
                </thead>
                <tbody >
                </tbody>
              </table>
            </div>
        </div>


        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

          <div class="row">
            <div class="col-12">
              <table class="table table-striped" id="tabla_cuenta_cobradas" style="font-size: 12px;">
                <thead>
                    <tr class="line-head">
                        <th>ID</th>
                        <th>Identificaci贸n</th>
                        <th>Nombre</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Edad</th>
                        <th>Telefono</th>
                        <th>Examen</th>
                        <th>Fecha</th>
                        <th>Contrato</th>
                        <th>Precio</th>
                        <th>Autorizaci贸n</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody >
                </tbody>
                </table>
            </div>
        </div>
        
           
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
      </div>















    </div>

      


    </div>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->







  <%- include ('../parts/footer.ejs')%>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<%- include ('../parts/script_inferior.ejs')%>


<!-- SweetAlert2 -->
<script src="/plugins/sweetalert2/sweetalert2@11.js"></script>

<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/cuenta_cobro.js"></script>
</body>
</html>
