

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Software Laboratorio Clinico</title>

  


  <%- include ('../parts/script_superior.ejs')%>

 <!-- DataTables -->
 <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
 <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
 <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
 <!-- Theme style -->
 <link rel="stylesheet" href="/dist/css/adminlte.min.css">



</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <%- include ('../parts/navbar.ejs')%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
 
  <%- include ('../parts/menu.ejs')%>





  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
           <h4>Lista de Muestras en Proceso de An치lisis</h4>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Examenes</li>
              <li class="breadcrumb-item active">Resultados</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
   
    <div class="container-fluid">
        
      <div class="row"> 
        <div class="col-3">
          <select id="maquina" class="form-control" onchange="activarBotonLectura()">
            <option value="" disabled='true' selected="true">Seleccionar el Tipo de Maquina</option>
            <option value="Maquina Analizador Quimica">Maquina Analizadora Quimica</option>
          
          </select>
        </div>
        <div class="col-3">
          <input type="file" id="fileInput" class="form-control" class=""  accept=".txt"> 
        </div>
        <div class="col-3"> 
          <button class="btn btn-primary" id="btn_Quimica" hidden="true" onclick="leerArchivoAnalisisCompletos('Quimica');">Leer Resultados Maquina Quimica</button>
          <button class="btn btn-primary" id="btn_Hematologia" hidden="true" onclick="leerArchivoAnalisisCompletos('Hematologia');">Leer Resultados Hematologia</button>
       
        </div>
        <div class="col-3"></div>
      </div>

      
     <input type="text" id="busqueda" disabled="true" hidden="true">
       
        <table class="table table-striped"  id="tabla_examenes_confirmados" style="font-size: 12px">
          <thead>
              <tr>
                  <th>Examen</th>
                  <th>Identificacion</th>
                  <th>Nombres</th>
                  <th>Examen</th>
                  <th>Observaci칩n</th>
                  <th>Autorizaci칩n</th>
                  <th>Resultado</th>
                  <th>Area</th>
                  <th>Estado</th>
              </tr>
          </thead>
          <tbody >
          </tbody>
        </table>
    </div>

      


    </div>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  


  
  <div class="modal fade" id="Frm_resultados">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="titulo-Frm_resultados">Digitar Resultados de los Parametros</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
                <div class="modal-body">


                  <input type="number" id='id_resultado_examen' hidden="true" disabled="true">


                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button class="nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Digitar Resultado del Analisis</button>
                      <button class="nav-link" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Finalizar Proceso de Analisis</button>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active  " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      
                      <div id="formulario-dinamico"></div> 


                      <button type="button" id="btn_registrar" class="btn btn-success d-block mx-auto" >Actualizar</button>
        
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        
                      <textarea id="observacion" cols="100" rows="3" placeholder="Digite una observaci칩n a los resultados de los examenes"></textarea>
                      <button type="button" id="btn_finalizar" class="btn btn-danger d-block mx-auto" onclick="confirmarFinalizarResultado()">Finalizar Resultado</button>
       
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                  </div>
        

                   
               
                  </div>
               

        <div class="modal-footer justify-content-center">
          
         
        </div>
       
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>









  <%- include ('../parts/footer.ejs')%>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<%- include ('../parts/script_inferior.ejs')%>


<!-- SweetAlert2 -->
<script src="/plugins/sweetalert2/sweetalert2@11.js"></script>

<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/resultados.js"></script>
</body>
</html>
